/* src/components/HeroSection/HeroSection.css */

/* Seção principal, ocupa toda a tela */
.hero-section {
  width: 100vw;
  height: 62vh;
  position: relative;
  /* Garante que o conteúdo dentro da seção não saia dela */
  overflow: hidden; 
}

/* Container do carrossel, para que a imagem preencha a seção */
.carrossel-container {
  width: 100%;
  height: 100%;
}

/* A imagem em si, para que ela preencha o container sem distorcer */
.imagem-carrossel {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carrossel-overlay {
  position: absolute; 
  top: 0;             
  left: 0;            
  width: 100%;        
  height: 100%;       
  background-color: rgba(0, 0, 0, 0.8);
}

/* Container do botão */
.button-container {
  text-align: center; /* Centraliza o botão */
  margin-top: 20px; /* Adiciona um espaço acima do botão */
}

/* Estilização do botão em si */
.carousel-link-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  text-decoration: none; /* Remove o sublinhado do link */
  border-radius: 5px; /* Bordas arredondadas */
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease; /* Transição suave para o efeito de hover */
}

.carousel-link-button:hover {
  background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}